In [1]:
import pandas as pd
import numpy as np

In [2]:
bl=pd.read_csv(r'C:\Users\User\Downloads\2021 ML BL for Export (9).txt', sep='\t', dtype={'CS_UPC_NR_CD': 'str'})

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,2,4,8,10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
ch = pd.read_excel(r'C:\Users\User\Downloads\DHUB CH Extract (4).xlsx')

In [4]:
bl['CUST_ID_NR_CD']=bl['CUST_ID_NR_CD'].astype(str).str.zfill(6)
bl['IND_ACCT_NR_CD']=bl['IND_ACCT_NR_CD'].astype(str).str.zfill(6)
bl['CS_UPC_NR_CD']=bl['CS_UPC_NR_CD'].astype(str).str.zfill(12)

In [5]:
ch['CUST_ID_NR_CD']=ch['CUST_ID_NR_CD'].astype(str).str.zfill(6)
ch['IND_ACCT_NR_CD']=ch['IND_ACCT_NR_CD'].astype(str).str.zfill(6)

In [6]:
ch = ch[[ 'CUST_ID_NR_CD', 'IND_ACCT_NR_CD', '2.7 Planned Account with Indirect', 'Customer Group' ]]

In [7]:
bl=pd.merge(bl, ch, how='left')

In [8]:
bl.head()

,CUST_ID_NR_CD,IND_ACCT_NR_CD,PROMO_PLN_ID_NR_CD,PROMO_PLN_YR_CD,BRND_NR_CD,CS_UPC_NR_CD,CS_UPC_VRSN_NR_CD,WEEK_NR,SOURCE_CD,SUPPLEMENTAL_VOLUME_NR,CAT_NR_CD,FMLY_NR_CD,2.7 Planned Account with Indirect,Customer Group
0,003107,000000,FC1,2021,RO,004100054055,99.0,0.0,M,0.000000,FC,1UA,003107-000000 (DP DISTRIBUTION - EXPORT),Export
1,003111,000000,FC1,2021,RO,004100054055,99.0,0.0,M,0.013800,FC,1UA,003111-000000 (FAIRN & SWANSON - EXPORT),Export
2,003113,000000,FC1,2021,RO,004100054055,99.0,0.0,M,2.614652,FC,1UA,003113-000000 (RAYJAK - EXPORT),Export
3,003114,000000,FC1,2021,RO,004100054055,99.0,0.0,M,2.740547,FC,1UA,003114-000000 (TRAVEL RETAIL CONCEPTS - EXPORT),Export
4,003134,000000,FC1,2021,RO,004100054055,99.0,0.0,M,0.012881,FC,1UA,003134-000000 (DICKERSON & QUINN - EXPORT),Export

In [11]:
bl['Customer Group'].unique()

array(['Export', nan, 'OOH', 'Central Team', 'All Other Customer',
       'New England Team', 'Amazon', 'C&S', 'Albertson East',
       'Albertson/Safeway/West Coast', 'Albertsons Rocky Mountain',
       'C&S South', 'Delhaize', 'Discount', 'Giant Eagle', 'HEB Team',
       'Harris Teeter', 'Kansas City Team', 'Kroger', 'Meijer',
       'New York Team', 'Norcal Region', 'Phoenix Region', 'Publix Team',
       'SoCal Market', 'South Atlantic Region', 'Target Team',
       'Total Supervalu', 'Wakefern Team', 'Walmart', 'E-Commerce',
       'Convenience Store', 'Military', 'Natural Specialty Team',
       'Wegmans Food Market', 'Alt Channels', 'Walgreens Team',
       'Vitacost', 'Rite Aid', 'CVS', 'Boise PC', 'Direct Beauty',
       'Independent Beauty Team', "BJ's", "Sam's", 'Costco',
       'Trader Joes', 'Rock Tenn', "Roundy's", 'Ahold Direct Historical',
       'Vanguard', 'International Paper'], dtype=object)

In [12]:
cust_groups = ['OOH', 'All Other Customer']

In [13]:
bl = bl[(bl['Customer Group'].isin(cust_groups))&(bl['PROMO_PLN_YR_CD']==2022)]

In [14]:
bl['Customer Group'].unique()

array(['All Other Customer', 'OOH'], dtype=object)

In [15]:
df = pd.DataFrame(bl.groupby(['2.7 Planned Account with Indirect'])['SUPPLEMENTAL_VOLUME_NR'].sum())

In [16]:
df.reset_index(inplace = True)

In [17]:
df

                 2.7 Planned Account with Indirect  SUPPLEMENTAL_VOLUME_NR
0                     000014-000000 (COSTCO TEXAS)                0.000000
1       000177-000000 (SAM'S CLUB ALL OTHER (MST))                0.000000
2     000255-000000 (VALUE ALL OTHER REFRIGERATED)                0.000000
3      000373-000000 (FLORIDA SPECIALTY A-O TRADE)                0.000000
4       000374-000000 (FLORIDA TM ALL OTHER (DRY))                0.000000
..                                             ...                     ...
75                      003437-000000 (KOHLS INC.)            18442.985451
76                        003452-000000 (DOORDASH)                0.000000
77    003454-000000 (PHILLIPS PET FOOD & SUPPLIES)            44302.830726
78            003475-000000 (ADUSA GIANT CARLISLE)              166.000000
79  003477-000000 (IC NOW CONVENIENCE DARK STORES)                3.000000

[80 rows x 2 columns]

In [18]:
df['SUPPLEMENTAL_VOLUME_NR'] = df['SUPPLEMENTAL_VOLUME_NR'].astype('int64')

In [19]:
df.rename(columns={'SUPPLEMENTAL_VOLUME_NR': 'ML BL 2022'}, inplace=True)

In [20]:
df.to_csv('OOH accounts BL.csv',  index=False)