In [1]:
import pandas as pd
import numpy as np

In [2]:
evr=pd.read_excel(r'C:\Users\User\Downloads\Deletes for Evergreen 2022-01-10.xlsx')

In [3]:
sku=pd.read_excel(r'C:\Users\User\Downloads\Discos SKU Lineup 01-25-2022.xlsx')

In [4]:
evr.columns

Index(['Category', 'Case UPC (UCC14)', 'Case UPC (12)', 'Unit UPC (12)',
       'Unit UPC (10)', 'DU Description', 'Item Status Delete',
       'Item Status Delete (Hard Transition)', 'LDTC', 'DU Number',
       'SKU Master: SKM Code'],
      dtype='object')

In [5]:
sku.columns

Index(['Geography', 'Small C', 'Brand', 'Subbrand', 'Format',
       'Promo Family Code', 'Units Per Case', 'US Size', 'CA Size',
       'DU Description', 'Variant Product Description', 'DU Number',
       'Material Status', 'Unit UPC', 'Case UPC (UCC-14)', 'Unit UPC (10)',
       'Additional Pack Info', 'Item Status Add',
       'Item Status Add Hard Transition', 'Item Status Current',
       'Item Status Delete', 'Item Status Delete Hard Transition',
       'Item Status Soft Transition', 'Comments', 'FDTC', 'LDTC',
       'Expected ACV', 'Projected FY $NSV', 'Projected FY $POS',
       'eCommerce - COTC by Channel', 'Hispanic - COTC by Channel',
       'National - COTC by Channel', 'COTC By Channel', 'COTC Comments',
       'Case Price Brkt 1', 'Unit Price  Brkt 1', 'Price Valid From',
       'Price Valid To', 'Unnamed: 38', 'Unnamed: 39'],
      dtype='object')

In [9]:
evr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437 entries, 0 to 1436
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Category                              1435 non-null   object
 1   Case UPC (UCC14)                      1437 non-null   int64
 2   Case UPC (12)                         1437 non-null   int64
 3   Unit UPC (12)                         1437 non-null   int64
 4   Unit UPC (10)                         1437 non-null   int64
 5   DU Description                        1437 non-null   object
 6   Item Status Delete                    1437 non-null   int64
 7   Item Status Delete (Hard Transition)  33 non-null     float64
 8   LDTC                                  1362 non-null   datetime64[ns]
 9   DU Number                             1437 non-null   int64
 10  SKU Master: SKM Code                  1437 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(6), object(3)
memory usage: 123.6+ KB

In [11]:
evr.head()

,Category,Case UPC (UCC14),Case UPC (12),Unit UPC (12),Unit UPC (10),DU Description,Item Status Delete,Item Status Delete (Hard Transition),LDTC,DU Number,SKU Master: SKM Code
0,UNILEVER GHB,10077567274783,7756727478,77567274786,7756727478,BR Strawberry 8 1PT,2022,NaN,2022-02-27,68130569,SKM-00540744
1,UNILEVER GHB,10077567678246,7756767824,77567678249,7756767824,BR Mint Chocolate Chip Pint 8 1PT,2022,NaN,2022-04-01,68130571,SKM-00540765
2,UNILEVER B+J,10077567000658,7756700065,77567000651,7756700065,BR Delights LFIC Crmy Chocolate 8CT 1PT,2021,NaN,2021-03-30,68130564,SKM-00540806
3,UNILEVER GHB,10077567274783,7756727478,77567274786,7756727478,BR HA Strawberry 8 1PT,2022,NaN,2022-02-27,68130592,SKM-00540837
4,HAIR,10055086000236,5508600023,55086000239,5508600023,LBP CD Tea Tree 4p 13.5z/400ml,2022,NaN,2021-12-30,68135840,SKM-00559539

In [12]:
evr['Case UPC (UCC14)']=evr['Case UPC (UCC14)'].astype(str)
evr['DU Number']=evr['DU Number'].astype(str)

In [10]:
sku.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13889 entries, 0 to 13888
Data columns (total 40 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Geography                           13889 non-null  object
 1   Small C                             13518 non-null  object
 2   Brand                               13823 non-null  object
 3   Subbrand                            11786 non-null  object
 4   Format                              8355 non-null   object
 5   Promo Family Code                   13823 non-null  object
 6   Units Per Case                      13889 non-null  int64
 7   US Size                             13889 non-null  object
 8   CA Size                             13889 non-null  object
 9   DU Description                      13889 non-null  object
 10  Variant Product Description         13829 non-null  object
 11  DU Number                           13889 non-null  object
 12  Material Status                     13889 non-null  object
 13  Unit UPC                            13889 non-null  object
 14  Case UPC (UCC14)                    13889 non-null  int64
 15  Unit UPC (10)                       13889 non-null  int64
 16  Additional Pack Info                5028 non-null   object
 17  Item Status Add                     6083 non-null   object
 18  Item Status Add Hard Transition     1434 non-null   object
 19  Item Status Current                 13888 non-null  object
 20  Item Status Delete                  1335 non-null   object
 21  Item Status Delete Hard Transition  156 non-null    float64
 22  Item Status Soft Transition         746 non-null    object
 23  Comments                            2050 non-null   object
 24  FDTC                                13872 non-null  object
 25  LDTC                                1520 non-null   object
 26  Expected ACV                        329 non-null    object
 27  Projected FY $NSV                   474 non-null    float64
 28  Projected FY $POS                   338 non-null    float64
 29  eCommerce - COTC by Channel         40 non-null     object
 30  Hispanic - COTC by Channel          2 non-null      object
 31  National - COTC by Channel          14 non-null     object
 32  COTC By Channel                     1491 non-null   object
 33  COTC Comments                       319 non-null    object
 34  Case Price Brkt 1                   13774 non-null  float64
 35  Unit Price  Brkt 1                  13780 non-null  float64
 36  Price Valid From                    13749 non-null  object
 37  Price Valid To                      13749 non-null  object
 38  Unnamed: 38                         12 non-null     object
 39  Unnamed: 39                         6 non-null      object
dtypes: float64(5), int64(3), object(32)
memory usage: 4.2+ MB

In [6]:
sku.rename(columns={'Case UPC (UCC-14)': 'Case UPC (UCC14)'}, inplace=True)

In [13]:
sku['Case UPC (UCC14)']=sku['Case UPC (UCC14)'].astype(str)
sku['DU Number']=sku['DU Number'].astype(str)

In [14]:
dis=pd.merge(sku, evr, how='left', on=['Case UPC (UCC14)', 'DU Number'])

In [16]:
dis.columns

Index(['Geography', 'Small C', 'Brand', 'Subbrand', 'Format',
       'Promo Family Code', 'Units Per Case', 'US Size', 'CA Size',
       'DU Description_x', 'Variant Product Description', 'DU Number',
       'Material Status', 'Unit UPC', 'Case UPC (UCC14)', 'Unit UPC (10)_x',
       'Additional Pack Info', 'Item Status Add',
       'Item Status Add Hard Transition', 'Item Status Current',
       'Item Status Delete_x', 'Item Status Delete Hard Transition',
       'Item Status Soft Transition', 'Comments', 'FDTC', 'LDTC_x',
       'Expected ACV', 'Projected FY $NSV', 'Projected FY $POS',
       'eCommerce - COTC by Channel', 'Hispanic - COTC by Channel',
       'National - COTC by Channel', 'COTC By Channel', 'COTC Comments',
       'Case Price Brkt 1', 'Unit Price  Brkt 1', 'Price Valid From',
       'Price Valid To', 'Unnamed: 38', 'Unnamed: 39', 'Category',
       'Case UPC (12)', 'Unit UPC (12)', 'Unit UPC (10)_y', 'DU Description_y',
       'Item Status Delete_y', 'Item Status Delete (Hard Transition)',
       'LDTC_y', 'SKU Master: SKM Code'],
      dtype='object')

In [18]:
dis = dis[['Promo Family Code', 'DU Number', 'Material Status', 'Case UPC (UCC14)', 'LDTC_x', 'LDTC_y', 'SKU Master: SKM Code']]

In [19]:
dis

,Promo Family Code,DU Number,Material Status,Case UPC (UCC14),LDTC_x,LDTC_y,SKU Master: SKM Code
0,01UA,68127037,20 - Active,10041000007955,NaN,NaT,NaN
1,01UA,68127037,20 - Active,10041000007955,NaN,NaT,NaN
2,01UA,68127037,20 - Active,10041000007955,NaN,NaT,NaN
3,01UA,68127037,20 - Active,10041000007955,NaN,NaT,NaN
4,01UA,68127039,32 - Discontinued,10041000007979,NaN,NaT,NaN
...,...,...,...,...,...,...,...
13884,09Z4,68123252,20 - Active,10076840002785,NaN,NaT,NaN
13885,09Z4,68123252,20 - Active,10076840002785,NaN,NaT,NaN
13886,09Z4,68123252,20 - Active,10076840002785,NaN,NaT,NaN
13887,03WX,68123017,32 - Discontinued,10048001481111,NaN,NaT,NaN
13888,03WX,68123017,32 - Discontinued,10048001481111,NaN,NaT,NaN

In [20]:
dis.to_csv('disco_files_match.csv', index=False)